body {
    margin: 0;
    background-color: black;
}
header{
    background-color: black;
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 10%;
}

select{
    background-color: black;
    color: aliceblue;
}
div{
    background-color: black;
    position: relative;
    text-align: left;
    width:100%
    
}

header div {
    display: flex;
    align-items: center;
}
footer{
    background-color:black;
    position: relative;
    text-align: center;
    width: 100%;
}

h1{
    color: aliceblue;
}

h2{
    color: aliceblue;
}

button {
    color: aliceblue;
    background-color: crimson;
    border: 0ch;
}
header div img {
    width: 100px;
}

.flex-box-left {
    display: flex;
    justify-content: left;
}

.flex-box-right{
    display: flex;
    justify-content: right;
}

.flex-box-aire{
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin: 10%, 10%, 10%, 10%;
}

